body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  background-color: palegreen;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  outline: solid 1px black;
}

.slideshow-container {
  width: 1000px;
  height: 65px;
  /* outline: solid 1px red; */
  margin-top: 15px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mySlides {
  display: none;
  padding: 25px;
  text-align: center;
}

.arrow-div {
  cursor: pointer;
  position: absolute;
  height: 55px;
  width: 55px;

  background-color: palegreen;
}

/* .arrow-div:hover {
  outline: solid 1px blue;
} */

.arrow-div > img {
  /* color: red; */
  height: 100%;
  width: 100%;
}

.arrow-div > img:hover {
  opacity: 0.6;
}

.left-arrow {
  top: 5px;
  left: 10px;
}

.right-arrow {
  top: 5px;
  right: 10px;
}

.myslide {
  width: calc(1000px - (2 * 65px) - 30px);
  height: 55px;
  outline: solid rgba(189, 187, 187, 0.705) 1px;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: 300;
}

.dim {
  opacity: 0.2;
}

.timer-div {
  width: 200px;
  height: 75px;
  /* outline: solid 1px red; */

  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.time {
  width: 80px;
  height: 65px;
  /* outline: solid 1px black; */

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: 600;
}

.om {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: 600;
}

.btn-bro {
  cursor: pointer;
  width: 170px;
  height: 35px;
  border-radius: 25px;
  border: solid 1px white;

  margin: 10px;

  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.btn-1 {
  background-color: green;
}
.btn-2 {
  background-color: red;
}
